body, html{
    height: 100%;
    background-repeat: no-repeat;
    background-color: #d3d3d3;
    font-family: 'Oxygen', sans-serif;
}

.main{
    margin-top: 10px;
}

h1.title {
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}

hr{
    width: 10%;
    color: #fff;
}

.form-group{
    margin-bottom: 15px;
}

label{
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
    width: 80%;
    height: 30px;
    border-radius: 3px;
    text-align: center;
}

.main-login{
    background-color: #fff;
    /* shadows and rounded borders */
    border-radius: 2px;
    border-radius: 2px;
    border-radius: 2px;
    shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 330px;
    padding: 40px 40px;
    text-align: center;
}

.login-button{
    margin-top: 5px;
    margin-left: 8px;
}